*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: black;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}


button {
    background-color: lightblue;
    border: white 5px outset;
    padding: 20px;
    margin: auto;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.timer {
    text-align: center;
}

.quiz {
    display: none;
    max-width: 600px;
    border: white 5px double;
}


.timer {
    border: white 5px solid;
}

.scoreList {
    display: none;
}

.scoreMenu {
    display: none;
}

.choice:hover {
    color: blue;
    cursor: pointer;
}